@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
@import "adminlte/variables.less";
@import "adminlte/mixins.less";

body.layout-boxed {
	#gradient > .vertical(#91F5AD, #C2E812);
}

.main-header {	
	border-bottom: 5px solid #632A50;
    max-height: initial;
    background-color: #745296;
}