@{
    List<Tuple<string, string>> pages = new List<Tuple<string, string>>
    {
        //Tuple.Create("Releases", Context.GetLink("blog")),
        Tuple.Create("Documentation", Context.GetLink("docs")),
        Tuple.Create("API", Context.GetLink("api"))
    };
    foreach(Tuple<string, string> page in pages)
    {
        string active = Context.GetLink(Document).StartsWith(page.Item2) ? "active" : null;
        <li class="@active"><a href="@(page.Item2)">@Html.Raw(page.Item1)</a></li>
    }
}