Title: Welcome
NoSidebar: true
NoContainer: true
NoGutter: true
---
<div class="jumbotron jumbotron-intro">
	<div class="container-background">
		<div class="container">
			<h1>Say something useful</h1>
		</div>
	</div>
</div>
<div class="jumbotron jumbotron-description jumbotron-description-1">
    <div class="container">
	    
    </div>
</div>

<div class="container">				
	<h1>Features</h1>
	<hr />
	<ul>
		<li>Written in .NET and <a href="/docs/extensibility/writing-a-module">easily extensible</a></li>
	</ul>
	
	<h1>Usage</h1>
	<hr />
	<p>TODO</p>
</div>