Title: Welcome
NoSidebar: true
NoContainer: true
NoGutter: true
---
<div class="jumbotron">
	<h1 class="display-4">Easy Cross Platform Library</h1>
	<h1 class="lead">A Better Way to Build Device Access & Backgrounding on your Xamarin & .NET Apps</h1>
	<hr class="my-4"></h1>
	<p>Shiny covers almost every single device there is on my mobile platforms with an exciting roadmap ahead</p>
  	<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>	
</div>

<div class="container">
	<div class="row">
		<div class="col rounded">
			<span class="fa fa-camera"></span>
			<h4>Backgrounding Made Easy for .NET Platforms</h4>
		</div>
		<div class="col rounded">
			<span class="fa fa-camera"></i>
			<h4>Environment and Application Info</h4>
		</div>
		<div class="col rounded">

		</div>
	</div>
	<div class="row">
		<div class="col">
			
		</div>
		<div class="col">
			
		</div>
		<div class="col">
			
		</div>
	</div>
</div>


<!--
<div class="jumbotron jumbotron-1">
	<div class="container-background">
		<div class="container">
			<h1>Make Your Apps Shine with SHINY!</h1>
		</div>
	</div>
</div>
<div class="jumbotron jumbotron-2">
    <div class="container">
	    
    </div>
</div>

<div class="jumbotron jumbotron-3">				
	<h1>Features</h1>
	<hr />
	<ul>
		<li><a>Great abstractions for working cross platform</a></li>
		<li><a>Environment and Application Info</a></li>
		<li><a>Caching Abstractions</a></li>
		<li><a>Background Jobs</a></li>
		<li><a>Easy Access File System with Xplat FileSystemWatcher</a></li>
		<li><a>GPS & Geofencing with full backgrounding support</a></li>
		<li><a>HTTP Transfers with metrics and background support</a></li>
		<li><a>BluetoothLE - Central & Peripheral Modes</a></li>
		<li><a>iBeacons - Ranging & Monitoring</a></li>
		<li><a>Sensors - Accelerometer, Magnetometer, Gyroscope, Compass & more</a></li>
		<li><a>Notifications</a></li>
		<li><a>Easy Mock Testing with Shiny.Testing</a></li>
	</ul>
	
	<h1>Usage</h1>
	<hr />
	<p>1. Install the NuGet Package(s)</p>
	<p>1. Install the NuGet Package(s)</p>
</div>
-->