<linker>
    <assembly fullname="Shiny.Core">
        <type fullname="*" />
    </assembly>
    <assembly fullname="Shiny.BluetoothLE">
        <type fullname="*" />
    </assembly>
    <assembly fullname="Shiny.Beacons">
        <type fullname="*" />
    </assembly>
    <assembly fullname="Shiny.Locations">
        <type fullname="*" />
    </assembly>
    <assembly fullname="Shiny.Net.Http">
        <type fullname="*" />
    </assembly>
    <assembly fullname="Shiny.Notifications">
        <type fullname="*" />
    </assembly>
    <assembly fullname="Shiny.Sensors">
        <type fullname="*" />
    </assembly>
    <assembly fullname="Shiny.SpeechRecognition">
        <type fullname="*" />
    </assembly>
    <!--
    <assembly fullname="Shiny.Testing">
        <type fullname="*" />
    </assembly>
    <assembly fullname="Shiny.Push">
        <type fullname="*" />
    </assembly>
    <assembly fullname="Shiny.Push.AzureNotificationHubs">
        <type fullname="*" />
    </assembly
    -->
</linker>