@page "/connectivity"
@implements IDisposable
@inject Shiny.Net.IConnectivity connectivity;

<h1>Connectivity</h1>

<div>Access: @this.connectivity.Access</div>
<div>Connection: @this.connectivity.ConnectionTypes</div>

@code
{
    string access = "Unknown";
    IDisposable? sub;

    protected override void OnInitialized()
    {
        this.sub = this.connectivity
            .WhenChanged()
            .Subscribe(
                _ => this.StateHasChanged(),
                ex => Console.WriteLine(ex)
            );

        base.OnInitialized();
    }

    public void Dispose() => this.sub?.Dispose();
}