<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SampleBlazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bluetooth">
                <span class="oi oi-list-rich" aria-hidden="true"></span> BluetoothLE
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gps">
                <span class="oi oi-plus" aria-hidden="true"></span> GPS
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="jobs">
                <span class="oi oi-plus" aria-hidden="true"></span> Jobs
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nfc">
                <span class="oi oi-list-rich" aria-hidden="true"></span> NFC
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="push">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Push
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="speech">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Speech Recognition
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
