@page "/nfc"
@inject Shiny.Nfc.INfcManager nfcManager;

<PageTitle>NFC</PageTitle>
<h1>NFC</h1>

<div>Status: @status</div>

@code {
    string status;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        this.status = (await this.nfcManager.RequestAccess().ToTask()).ToString();
    }
}