Title: Jobs
Order: 3
---

<h1>Sections</h1>

<ul>
    @foreach (IDocument child in OutputPages.GetChildrenOf(Document).OrderBy(x => x.GetInt("Order", 1000)))
    {
        <li>@Html.DocumentLink(child)</li>
    }
</ul>