<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29585461192-ipu28keo9927qsh7gul6a9tb6ohis17m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29585461192-ipu28keo9927qsh7gul6a9tb6ohis17m</string>
	<key>API_KEY</key>
	<string>AIzaSyBQx5SBjutEx4VQUs5_ZDEzFsXPBPnf9tw</string>
	<key>GCM_SENDER_ID</key>
	<string>29585461192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shiny.test</string>
	<key>PROJECT_ID</key>
	<string>handy-cell-143420</string>
	<key>STORAGE_BUCKET</key>
	<string>handy-cell-143420.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29585461192:ios:fd58dc671e66c940313afd</string>
	<key>DATABASE_URL</key>
	<string>https://handy-cell-143420.firebaseio.com</string>
</dict>
</plist>